body {
  display: block;
  background: linear-gradient(
    73.2deg,
    rgb(248, 205, 205) 23.2%,
    rgb(149, 170, 211) 77%
  );
}
form {
  display: flex;
  justify-content: center;
}
input:hover {
  cursor: pointer;
}
input:focus {
  outline: none;
  cursor: text;
}
h1 {
  padding: 3px;
  font-family: "Nunito", sans-serif;
}
p,
footer {
  font-family: "Nunito", sans-serif;
  color: #585858;
}
footer {
  padding: 20px 0 0 0;
  font-size: 11px;
  text-align: center;
}
.align {
  align-content: center;
}
.logo-light {
  display: block;
  max-width: 150px;
  margin: 80px auto;
  padding-top: 20px;
}

.weather-app {
  display: block;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.5);
  margin: 50px auto;
  padding: 50px 50px;
  border-radius: 15px;
  box-shadow: 0 0 1em rgba(255, 255, 255, 0.5);
}
.search-input {
  border: 1px transparent;
  border-radius: 5px;
  margin: 5px;
  height: 40px;
  width: 700px;
  font-family: "Tenor Sans", sans-serif;
  font-size: 15px;
}
.submit-button {
  border: 1px solid #8594e4;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  height: 41px;
  background: #8594e4;
  color: aliceblue;
  font-family: "Tenor Sans", sans-serif;
}
.submit-button:hover {
  background: aliceblue;
  color: #8594e4;
  box-shadow: 0 0 1em aliceblue;
  border: 1px solid #8594e4;
  cursor: pointer;
}
