body {
  background: linear-gradient(
    73.2deg,
    rgb(248, 205, 205) 23.2%,
    rgb(149, 170, 211) 77%
  );
  background-repeat: no-repeat;
}
.weather-app {
  max-width: 600px;
  background: rgba(255, 255, 255, 0.5);
  margin: 20px 40px;
  padding: 20px;
  border-radius: 10px;
}
